
body {
    background-image:url(lakeview_sunset_4k.jpg);
    background-size:cover;
}

.div5 {
margin-left: 700px;
margin-top: 400px;
width: 500px;
}
ul2 li2 {
    display:inline;
}
#menu ul{
    list-style: none;
  }
  #menu li{
    display: inline;
  }